<div class="mt-4">
  <h3>Cập nhật khóa học</h3>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value={{course.name}}
        id="name"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
      >{{course.description}}</textarea>
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video ID</label>
      <input
        type="text"
        class="form-control"
        value={{course.videoId}}
        name="videoId"
        id="videoId"
      />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ</label>
      <input
        type="text"
        class="form-control"
        value={{course.level}}
        name="level"
        id="level"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-4">Lưu lại</button>
  </form>
</div>